@model App.Ads.Areas.Admin.Models.ActionModel

<div class="pull-right">
    <button data-toggle="modal" data-target="#approveModal" class="btn-flat primary" type="button">APPROVE</button>
    <button data-toggle="modal" data-target="#rejectModal" class="btn-flat danger" type="button">REJECT</button>
</div>


<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-ng-controller="ApproveCtrl">
    <form id="approveForm" class="form-vertical">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                    <p class="hidden-xs"></p>
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Confirm approve this listing?</h4>
                </div>
                <div class="modal-footer">
                    @Html.HiddenFor(m => m.ListingId)
                    <div class="pull-right">
                        <button class="btn-flat success">APPROVE</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hi dden="true" data-ng-controller="RejectCtrl">
    <form id="rejectForm" class="form-vertical">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                    <p class="hidden-xs"></p>
                </div>

                <div class="modal-body">
                    @Html.HiddenFor(m => m.ListingId)
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Select a Reason</label>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            @Html.DropDownListFor(m => m.RejectModel.RejectCode, ViewBag.ReasonList as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.RejectModel.RejectCode)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button class="btn-flat danger">REJECT</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>