
@{
    ViewBag.Title = "Register Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 login-wrapper">
        <div class="box-success">
            <div class="content-wrap well">
                <h1>Registration Successful.</h1>

                <h4>
                    Thank you for signing up with us.
                </h4>

                <br />
                <p>
                    Now you can advertise your ads through MyBazaar.my!
                </p>

                <p>
                    You will be redirected to the user control panel in 30 seconds. @Html.ActionLink("Click here", "Manage", "Listing", new { area = "" }, null) if the browser does not automatically redirect.
                </p>

            </div>
        </div>
    </div>
</div>