
@{
    ViewBag.Title = "Register Success";
}

<div class="row">
    <div class="col-md-12 login-wrapper">
        <div class="box-success">
            <h1>Almost there!</h1>
            <div class="content-wrap well">
                
                <h4>
                    <i class="fa fa-envelope"></i>
                    Email account activation
                </h4>

                <br />
                <p>
                    We have sent an activation email to @ViewData["email"]
                </p>

                <p>
                    Click on the link in the email to activate your <b>9street</b> account.
                </p>

            </div>
        </div>
    </div>
</div>