@{
    ViewBag.Title = "My Ad";
}

@section Style{
    @Styles.Render("~/Content/css/form")
}

<div class="col-sm-3">
    @Html.Partial("~/Views/PartialView/_sidepanel.cshtml")
</div>

<div class="col-sm-9">
    <h1>Thank you for posting ad with us!</h1>
    <hr />
    <h4>@Html.Raw(HttpUtility.HtmlDecode(TempData["Message"].ToString()))</h4>
</div>