@model IEnumerable<App.Core.ViewModel.DisplayListingViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="col-sm-3">
    @Html.Partial("~/Views/PartialView/_sidepanel.cshtml")
</div>
<div class="col-sm-9">
    <div class="panel panel-default">
        <div class="panel-heading">Manage adverts</div>
        <div class="panel-body">
            <form class="form-vertical">
                <fieldset>

                    <div class="row">
                        <div class="col-sm-12">

                            <table class="table edit-listings">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Date&nbsp;posted</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><img src="http://templates.expresspixel.com/bootlistings/css/images/listings/1.jpg" style="width:75px"></td>
                                            <td class="main-td">

                                                @if (string.IsNullOrEmpty(item.Title))
                                                {
                                                    @Html.ActionLink("Untitled", "Save", new { id = item.id })
                                                }
                                                else
                                                {
                                                    @Html.ActionLink(item.Title, "Save", new { id = item.id })
                                                }
                                                @*<a href="account_ad_create.html">BMW 525D SE TOURING SILVER</a>*@
                                                <a href="#" class="no-views">(11 views)</a>
                                                <span class="pull-right label label-color-8 label-small">PUBLISHED</span>
                                                <br>
                                                <a class="edit-ad" href="account_ad_create.html">Edit ad</a>
                                                <a class="extend-ad" href="#" data-toggle="tooltip" title="" data-original-title="Extend ad by 30 days">Extend for 30 days</a>
                                                <a class="remove-ad" href="#">Remove this ad</a>

                                                <p>Alarm, Anti-Lock Brakes (ABS), Driver Airbag, Electronic Stability Program (ESP), Immobiliser, Passenger Airbag, Rear seat belts, Side Airbags Alloy Wheels, Catalytic...</p>

                                            </td>
                                            <td>1 day ago</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>




                    </div>

                </fieldset>
            </form>
        </div>





    </div>
</div>