
<div id="globalError" class="float-error" data-ng-show="alert.display">
    <div class="alert alert-{{alert.type}} fade in alert-dismissible" role="alert">
        <button type="button" class="close">
            <span aria-hidden="true">&nbsp;&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <span data-ng-bind-html="alert.message"></span>
    </div>
</div>