<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AdsDBEntities" connectionString="metadata=res://*/Data.AdsModel.csdl|res://*/Data.AdsModel.ssdl|res://*/Data.AdsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:d4caq8bmm4.database.windows.net,1433;initial catalog=AdsDB;persist security info=True;user id=walkboy;password=Cabal92000;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <!-- S3 -->
    <add key="S3_accessKey" value="AKIAI7MU6GVJBEC6IAAQ" />
    <add key="S3_secretKey" value="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" />
    <add key="S3_bucket" value="assets.monsteritem.com" />
    <add key="S3_env" value="test" />
    <add key="cdn_url" value="http://assets.monsteritem.com" />

    <add key="StorageAccountName" value="bazaarstorage" />
    <add key="StorageAccountAccessKey" value="5JGP+TmVZAqV/apa30BLpC2diAYc5GVWIXd5QHlnAx+hzbF2MUOK60tC6uzXRx/Pz/dN0pST0l/5LkrKlGpPXA==" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>