<?xml version="1.0"?>
<connectionStrings>
  <add name="AdsDBEntities" connectionString="metadata=res://*/Data.AdsModel.csdl|res://*/Data.AdsModel.ssdl|res://*/Data.AdsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:d4caq8bmm4.database.windows.net,1433;initial catalog=LiveDB;persist security info=True;user id=walkboy;password=Cabal92000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
