
@{
    ViewBag.Title = "Dashboard";
}


<div class="col-sm-3">
    @Html.Partial("~/Views/PartialView/_sidepanel.cshtml")
</div>

<div class="col-sm-9">
    <div class="panel panel-default">
        <div class="panel-heading">Dashboard</div>
        <div class="panel-body">

            <div class="row">

            </div>

        </div>
    </div>
</div>