@if (ViewBag.Message != null)
{
    <div class="row">
        <div class="col-md-6 center-block">
            <div class="alert alert-danger">
                <p class="center-text">
                    <i class="fa fa-times"></i>
                    @ViewBag.Message
                </p>
            </div>
        </div>
    </div>

}