@{
    ViewBag.Title = "Email Confirmation";
}

<div class="row">
    <div class="col-md-6 center-block">
        <div class="alert alert-danger">
            <p class="center-text">
                <i class="fa fa-times"></i>
                @MvcHtmlString.Create(ViewBag.message)
            </p>
        </div>
    </div>
</div>
