@{
    ViewBag.Title = "Email Confirmation";
}

@if (ViewBag.Message != null)
{
    <div class="row">
        <div class="col-md-12 login-wrapper">
            <div class="alert alert-success">
                <p>
                    <i class="fa fa-check"></i>
                    @ViewBag.Message
                </p>
                <br />
                <div>
                    <label>Click here to </label>
                    @Html.ActionLink("Sign In", "index", "login", new { area = "account" }, null)
                </div>
            </div>

        </div>
    </div>

}