.gallery .gallery-wrapper {
    text-align: center;
    position: relative;
}

.gallery .img-container {
    /*margin-bottom: 10px;*/
}

    .gallery .img-container .img-box {
        display: inline-block;
        position: relative;
        margin-bottom: 15px;
    }

        .gallery .img-container .img-box:hover span {
            visibility: visible;
        }

    .gallery .img-container img {
        border: 4px solid #EEE;
        border-radius: 3px;
        cursor: pointer;
        height: 120px;
    }

    .gallery .img-container.cover img {
        border: 4px solid #EDDA74;
        border-radius: 3px;
        cursor: pointer;
        height: 120px;
    }

    .gallery .img-container .title {
        margin-top: 5px;
        font-size: 13px;
    }

    .gallery .img-container .icon {
        position: absolute;
        background: rgba(56, 156, 240, 0.8);
        height: 48px;
        width: 48px;
        visibility: hidden;
        /*left: 41%*/;
        top: 32%;
        border-radius: 100%;
        cursor: pointer;
        text-align: center;
    }

    .gallery .img-container i {
        display: inline-block;
        margin-top: 14px;
    }

    .gallery .img-container span.edit {
        left: 17%;
    }

    .gallery .img-container span.trash {
        left: 58%;
    }

.gallery .new-img {
    display: inline-block;
}

    .gallery .new-img img {
        border: 2px dashed #dee3e8;
        cursor: pointer;
        /*margin-bottom: 50px;*/
        height: 140px;
    }

        .gallery .new-img img:hover {
            opacity: 0.8;
            border-color: #ccc;
        }

/* gallery blank state */
.no-gallery {
    padding-top: 50px;
}

    .no-gallery .center {
        margin: 0 auto;
        text-align: center;
    }

        .no-gallery .center p.no-gallery-label {
            color: #364453;
            font-weight: 600;
            margin: 30px 0 9px;
            font-size: 15px;
        }

        .no-gallery .center p {
            color: #364453;
            font-size: 13px;
            margin-bottom: 20px;
        }

        .no-gallery .center div {
            margin-top: 30px;
        }

/*Responsive*/
@media (max-width: 979px) {
    .gallery .popup {
        display: none;
    }
}

.img-box > input {
    display: none;
}

.gallery .img-spin-box {
    border: 2px dashed #EEE;
    border-radius: 10px;
    cursor: pointer;
    width: 139px;
    height: 120px;
    background: #F7FCFF;
}

div.addnew {
    border: 2px dashed #EEE;
    border-radius: 10px;
    cursor: pointer;
    width: 139px;
    height: 120px;
    background: #F7FCFF;
}

    div.addnew i {
        top: 28%;
        left: 39%;
        position: absolute;
    }

.cover-image {
    position: absolute;
    left: 25%;
    bottom: -8%;
}
